@import url("nullstyle.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:regular&display=swap");
body {
  background: #0c0c0c;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.about {
  background: url(../img/bg-image.webp) center no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: #ffffff;
}

.header {
  display: flex;
  position: sticky;
  top: 1px;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.nav-block {
  display: flex;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-block li {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 133.333333%; /* 16/12 */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 61px;
  align-items: center;
}

.nav-block li:hover {
  font-size: 14px;
  color: #d23535;
}

.about-text {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 24px;
  max-width: 526px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 214px;
}
.about-text__title {
  display: block;
  font-size: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.down-btn {
  max-width: 80px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.down-btn-text {
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 22px;
}

.down-btn:hover {
  font-size: 16px;
  max-width: 100px;
  color: #d23535;
}

.greatest {
  color: #ffffff;
  background: url(../img/bg-image-second.webp);
  padding: 200px 0;
}

.greatest-main {
  display: flex;
  justify-content: space-between;
}

.greatest-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  display: block;
  line-height: 122.222222%; /* 22/18 */
  max-width: 546px;
}

.greatest-text h3 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 100%; /* 24/24 */
  letter-spacing: 2px;
}

.greatest-text h2 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 80px;
  line-height: 100%; /* 80/80 */
  letter-spacing: 3px;
  border-bottom: 4px solid;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.greatest-img img {
  max-height: 610px;
}

.battle {
  background: #000;
  color: #ffffff;
}

.battle-main {
  display: flex;
  justify-content: space-between;
}

.battle-text {
  padding-top: 15px;
  max-width: 362px;
  margin: auto;
}

.battle-text h3 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 100%; /* 24/24 */
  letter-spacing: 2px;
}

.battle-text h2 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 80px;
  line-height: 100%; /* 80/80 */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.battle-text-ul li {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%; /* 36/36 */
  color: #d23535;
  margin: 36px 0;
}

.battle-text-ul li::before {
  content: url(../img/ellipse.webp);
  padding-right: 30px;
  font-size: 18px;
  vertical-align: bottom;
}

.battle-text-ul {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 122.222222%; /* 22/18 */
  text-align: justify;
  color: #ffffff;
}

.battle-requirements {
  background: url(../img/battle-requirements.webp) center no-repeat;
  background-size: cover;
  padding: 145px 0;
  color: #ffffff;
}

.battle-requirements-main h3 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: center;
}

.battle-requirements-main h2 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 133px;
}

.battle-requirements-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
}
.battle-requirements-text__item {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px;
  max-width: 300px;
}
.battle-requirements-text__item:last-child {
  border-left: none;
}
.battle-requirements-text__item span {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #d23535;
}

.battle-requirements-text-second {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
}
.battle-requirements-text-second__item {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px;
  max-width: 300px;
}
.battle-requirements-text-second__item:last-child {
  border-left: none;
  border-top: none;
}
.battle-requirements-text-second__item span {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #d23535;
}

.battle-requirements-text-thrid__item {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px;
  max-width: 600px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.battle-requirements-text-thrid__item:last-child {
  border-top: none;
}
.battle-requirements-text-thrid__item span {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #d23535;
}

.art-of-war {
  background: #000;
  color: #ffffff;
  padding: 50px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.art-of-war-main {
  display: flex;
}

.art-of-war-img {
  margin-right: 60px;
}

.art-of-war-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: auto;
}

.art-of-war-text h3 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
}

.art-of-war-text h2 {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.art-of-war-btn {
  background: #d23535;
  display: inline-block;
  border-radius: 4px;
  margin-top: 20px;
  padding: 10px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #1a1917;
}

.art-of-war-btn:hover {
  background: #d16f6f;
}

.footer {
  background: #000;
  text-align: center;
  padding: 25px 0 50px 0;
}

.footer span {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.5;
}

@media (max-width: 780px) {
  .nav-block,
  .greatest-img,
  .battle-img,
  .art-of-war-img {
    display: none;
  }
  .greatest-text {
    max-width: 100%;
  }
  .battle-requirements-main h2 {
    font-family: "Bebas Neue";
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 133px;
  }
}