@import url("nullstyle.css");
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

.lyma {
   max-width: 1440px;
   margin: 0 auto;
}
.content {
   padding: 0 15px;
}
.header-nav,
.footer-nav {
   display: flex;
   justify-content: space-around;
   padding: 25px 0;
}
.nav-site,
.help-site {
   display: flex;
   font-family: "Montserrat";
   font-weight: 400;
   font-size: 12px;
   line-height: 120%; /* 12/10 */
   letter-spacing: 1.67px;
   color: rgba(0, 0, 0, 0.3);
}
.nav-site li,
.help-site li {
   margin-right: 32px;
   text-align: center;
}
.nav-site li:hover,
.help-site li:hover {
   color: #000;
   font-weight: 500;
   line-height: 120%; /* 12/10 */
}
.header-main {
   font-family: "Montserrat";
   font-weight: 400;
   font-size: 16px;
   line-height: 156%;
   text-align: center;
   letter-spacing: 0.44px;
   color: #ffffff;
   background: url(../img/rectangle.png) center no-repeat;
   background-size: cover;
   padding: 250px 0;
}
.header-main-title {
   font-family: "Roboto";
   font-weight: 400;
   font-size: 57px;
   line-height: 67px;
   text-align: center;
   letter-spacing: 0.81px;
   color: #ffffff;
   margin-bottom: 33px;
}
.header-main-text {
   max-width: 496px;
   margin: 0 auto;
   margin-bottom: 60px;
}
.btn-item {
   padding: 8px 48px;
   border: 1px solid #ffffff;
   border-radius: 4px;
   margin-right: 20px;
}
.btn-item:hover {
   border: 1px solid #d4d4d4;
   border-radius: 4px;
   margin-right: 20px;
   color: #d4d4d4;
   box-shadow: 5px 5px 15px #414141;
}
.block-face {
   display: flex;
   margin: 4px 0;
}
@media (max-width: 767px) {
   .block-face {
      display: block;
   }
}

.first-face {
   background: url(../img/first-face.png) center no-repeat;
   background-size: cover;
   min-height: 500px;
   flex: 1 1 auto;
}
.second-face {
   background: url(../img/laser.png) center no-repeat;
   background-size: cover;
   min-height: 500px;
   flex: 1 1 auto;
}
.first-face,
.second-face {
   font-family: "Montserrat";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   text-align: center;
   margin: 0 auto;
   color: #ffffff;
   padding-top: 310px;
}
.first-face h2,
.second-face h2 {
   font-weight: 400;
   font-size: 34px;
   line-height: 43px;
   letter-spacing: 0.5px;
   margin-bottom: 13px;
}
.first-face p,
.second-face p {
   margin-bottom: 9px;
}
.first-face a,
.second-face a {
   margin-right: 125px;
}
.second-face a:last-child,
.first-face a:last-child {
   margin-right: 0;
}
.second-face a:hover,
.first-face a:hover {
   color: #d4d4d4;
}
.better {
   background: #000;
   text-align: center;
   color: #ffffff;
   padding: 66px 0 80px 0;
   margin-bottom: 4px;
}
.better-title {
   font-family: "Roboto";
   font-weight: 400;
   font-size: 38px;
   line-height: 43px;
   letter-spacing: 0.2px;
   text-transform: uppercase;
   margin-bottom: 32px;
}
.better img {
   margin-bottom: 40px;
}
.better p {
   font-family: "Montserrat";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   max-width: 532px;
   margin: 0 auto;
}
.wellness {
   background: url(../img/welless.png) center no-repeat;
   background-size: cover;
   text-align: center;
   color: #ffffff;
   padding: 290px 0;
   margin-bottom: 4px;
}
.wellness-title {
   font-family: "Roboto";
   font-weight: 400;
   font-size: 38px;
   line-height: 43px;
   letter-spacing: 0.2px;
   text-transform: uppercase;
   color: #ffffff;
   max-width: 558px;
   margin: 0 auto 28px;
   display: block;
}
footer {
   background: #000;
}
.footer-nav-site,
.footer-help-site {
   display: flex;
   font-family: "Montserrat";
   font-weight: 400;
   font-size: 12px;
   line-height: 120%; /* 12/10 */
   letter-spacing: 1.67px;
   color: #ffffff;
}
.footer-nav-site li,
.footer-help-site li {
   margin-right: 32px;
   text-align: center;
}
.footer-nav-site li:hover,
.footer-help-site li:hover {
   color: #d4d4d4;
   font-weight: 500;
   line-height: 120%; /* 12/10 */
}
@media (max-width: 980px) {
   .nav-site,
   .help-site {
      display: none;
   }
}
@media (max-width: 980px) {
   .header-nav,
   .footer-nav {
      display: flex;
      justify-content: center;
      padding: 25px 0;
   }
}
@media (max-width: 980px) {
   footer {
      display: none;
   }
}
@media (max-width: 767px) {
   .block-face {
      display: block;
   }
}
@media (max-width: 767px) {
   .header-nav,
   .footer-nav {
      display: none;
   }
}
@media (max-width: 444px) {
   .better-img {
      max-width: 250px;
   }
}
@media (max-width: 444px) {
   .btn {
      display: flex;
      flex-direction: column;
   }
}
